name: Python Tests

on: [pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]  # Test with Python 3.10 to the latest available version

    steps:
      # Checkout the latest commit associated with the PR
      - uses: actions/checkout@v6
      
      - name: Debug matrix value
        run: echo "Python version is ${{ matrix.python-version }}"

      # Set up Python based on the matrix version
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      # Install dependencies, including test dependencies from pyproject.toml
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install '.[test]'  # Install all dependencies, including test-specific ones

      # Run pytest on the specified directory
      - name: Run tests
        run: pytest src/python/tests
