name: Ruff Formatting
on: [pull_request]
jobs:
  ruff:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.ref }}
      cancel-in-progress: true
    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the changed files.
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.sha }}
          token: ${{ secrets.ACTION_TOKEN }}
      - uses: chartboost/ruff-action@v1
        with:
          src: './src/python'
          args: 'format --target-version py310'
      - uses: stefanzweifel/git-auto-commit-action@v5
        id: auto-commit-action
        with:
          commit_message: 'Style fixes by Ruff'
